<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="AivenMySQL"
			 connectionString="Server=mysql-31829c86-doanthanhtung010620.d.aivencloud.com;Port=27335;Database=defaultdb;Uid=avnadmin;Pwd=AVNS_8W9O-RHcGb8-naGTkjd;SslMode=Required;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>